.col1
{
	padding-top: 15px;
	width:30%;
    height:200px;
}

.col2
{
	padding-top: 15px;
	width:30%;
    height:200px;
}

.col3
{
	padding-top: 15px;
	width:30%;
    height:200px;
}

.col4
{
	padding-top: 15px;
	width:30%;
    height:200px;
}

.col5
{
	padding-top: 15px;
	width:30%;
    height:200px;
}