
#link1{
	padding-right: 10px;
	text-decoration: none;

}

#link2{
	padding-right: 10px;
	text-decoration: none;

}

#link3{
	padding-right: 10px;
	text-decoration: none;

}

#link4{
	padding-right: 20px;
}

#link5{
	padding-right: 20px;
}