@import 'footer1';
@import 'footer2';
@import 'footer3';

header{
	border-bottom: solid black;
	border-width: thin;


.parent{
	display:flex;
 	justify-content:flex-end;
 	flex-direction: row; 

.div1{
	display:flex;
	width:50%;

.image1{
	margin-top:15px;
	margin-left:90px;
	width:25%;
}

.text{

	font-family: "Arial", Helvetica, sans-serif;
	font-size: 20px;
	font-weight:normal;
	margin-top:90px;
	padding-left: 30px;
	color:gray;
}
	
} 	

.div2{

	display:flex;
    justify-content:flex-end;
    width:50%;

.links1
{
	@extend .parent;

	margin-right:90px;
	margin-top: 90px;

	
}    
}
}

.parent2{
	
	display: flex;
 	justify-content:flex-start;
 	flex-direction: row; 
 	margin-left:50px;


.links2{
	
	@extend .parent2;

	width:67%;
	color:blue; 
	background-color:transparent;
	padding-right: 10px;
}

.form{

	 @extend .parent2;
	 margin-right:90px;
}

}
}

.blank{
	height:280px;
}

footer{
	
.columns{
	display:flex;
	flex-direction: row; 
	flex-grow:1;
	padding-top: 15px;    
    
    font-family: sans-serif;
    font-size:x-Small;
    margin-left: 80px;
    margin-right: 80px;

}	

.below{
	background-color: #355b79;
	height:30px;
	width:100%;
	color:white;

p{
	margin-left: 100px;

}
}
}
